<div class="flex items-center justify-between border-t border-gray-200 bg-transparent px-4 py-3 sm:px-6 rounded-md">
    <div class="flex flex-1 justify-between sm:hidden">
      <% if(Number(pageNumber) === 1){ %>
        <a href="/api/v1/file/view/<%=id%>/<%=(pageNumber - 1)%>" class="relative pointer-events-none inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Previous</a>
      <% } else {%>
        <a href="/api/v1/file/view/<%=id%>/<%=(pageNumber - 1)%>" class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Previous</a>
      <% } %>

      <% if(Number(pageNumber) === Number(pageCount)){ %>
        <a href="/api/v1/file/view/<%=id%>/<%=(Number(pageNumber) + 1)%>" class="relative pointer-events-none ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Next</a>
      <% } else {%>
        <a href="/api/v1/file/view/<%=id%>/<%=(Number(pageNumber) + 1)%>" class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Next</a>
      <% } %>
    </div>
    <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between gap-x-2">
      <div>
        <p class="text-sm text-gray-700">
          Showing
          <span class="font-medium"><%=startRowNumber %></span>
          to
          <span class="font-medium"><%=endRowNumber %></span>
          of
          <span class="font-medium"> <%=totalRows %></span>
          results
        </p>
      </div>
      <div>
        <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm gap-x-1" aria-label="Pagination">
          <% if(pageNumber === 1){ %>
            <a href="/api/v1/file/view/<%=id%>/<%=(pageNumber - 10)%>" class="relative pointer-events-none inline-flex items-center rounded-l-md px-2 py-2 text-gray-500 ring-1 ring-inset ring-gray-300 hover:bg-gray-200 focus:z-20 focus:outline-offset-0">
              <span class="sr-only">Previous 10</span>
              <div class="h-5 w-5 text-xl flex items-center justify-center">&lt;&lt;</div>
            </a>
            <a href="/api/v1/file/view/<%=id%>/<%=(pageNumber - 1)%>" class="relative pointer-events-none inline-flex items-center px-2 py-2 text-gray-500 ring-1 ring-inset ring-gray-300 hover:bg-gray-200 focus:z-20 focus:outline-offset-0">
              <span class="sr-only">Previous</span>
              <div class="h-5 w-5 text-xl flex items-center justify-center">&lt;</div>
            </a>
          <% } else {%>
            <% if(pageNumber <= 10){ %>
              <a href="/api/v1/file/view/<%=id%>/<%=(pageNumber - 10)%>" class="relative pointer-events-none inline-flex items-center rounded-l-md px-2 py-2 text-gray-500 ring-1 ring-inset ring-gray-300 hover:bg-gray-200 focus:z-20 focus:outline-offset-0">
                <span class="sr-only">Previous 10</span>
                <div class="h-5 w-5 text-xl flex items-center justify-center">&lt;&lt;</div>
              </a>
            <% } else {%>
              <a href="/api/v1/file/view/<%=id%>/<%=(pageNumber - 10)%>" class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-700 ring-1 ring-inset ring-gray-300 focus:z-20 hover:bg-gray-200 focus:outline-offset-0">
                <span class="sr-only">Previous 10</span>
                <div class="h-5 w-5 text-xl flex items-center justify-center">&lt;&lt;</div>
              </a>
            <% } %> 
            <a href="/api/v1/file/view/<%=id%>/<%=(pageNumber - 1)%>" class="relative inline-flex items-center px-2 py-2 text-gray-700 ring-1 ring-inset ring-gray-300  focus:z-20 hover:bg-gray-200  focus:outline-offset-0">
              <span class="sr-only">Previous</span>
              <div class="h-5 w-5 text-xl flex items-center justify-center">&lt;</div>
            </a>
          <% } %>
          
          <%- include("truncate") %>

          <% if(pageNumber === pageCount){ %>
            <a href="/api/v1/file/view/<%=id%>/<%=(pageNumber + 1)%>" class="relative pointer-events-none inline-flex items-center rounded-r-md px-2 py-2 text-gray-500 ring-1 ring-inset ring-gray-300 hover:bg-gray-200 focus:z-20 focus:outline-offset-0">
              <span class="sr-only">Next</span>
              <div class="h-5 w-5 text-xl flex items-center justify-center">&gt;</div>
            </a>
            <a href="/api/v1/file/view/<%=id%>/<%=(pageNumber + 10)%>" class="relative pointer-events-none inline-flex items-center rounded-r-md px-2 py-2 text-gray-500 ring-1 ring-inset ring-gray-300 hover:bg-gray-200 focus:z-20 focus:outline-offset-0">
              <span class="sr-only">Next 10</span>
              <!-- <img src="/images/double_right.png" alt="Next 10" class="h-5 w-5"> -->
              <div class="h-5 w-5 text-xl flex items-center justify-center">&gt;&gt;</div>
            </a>
          <% } else {%>
            <a href="/api/v1/file/view/<%=id%>/<%=(pageNumber + 1)%>" class="relative inline-flex items-center px-2 py-2 text-gray-700 ring-1 ring-inset ring-gray-300 hover:bg-gray-200 focus:z-20 focus:outline-offset-0">
              <span class="sr-only">Next</span>
              <div class="h-5 w-5 text-xl flex items-center justify-center">&gt;</div>
            </a>
            <% if(pageNumber > pageCount-10){ %>
              <a href="/api/v1/file/view/<%=id%>/<%=(pageNumber + 10)%>" class="relative pointer-events-none inline-flex items-center rounded-r-md px-2 py-2 text-gray-500 ring-1 ring-inset ring-gray-300 hover:bg-gray-200 focus:z-20 focus:outline-offset-0">
                <span class="sr-only">Next 10</span>
                <div class="h-5 w-5 text-xl flex items-center justify-center">&gt;&gt;</div>
              </a>
            <% } else {%>
              <a href="/api/v1/file/view/<%=id%>/<%=(pageNumber + 10)%>" class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-700 ring-1 ring-inset ring-gray-300 hover:bg-gray-200 focus:z-20 focus:outline-offset-0">
                <span class="sr-only">Next 10</span>
                <div class="h-5 w-5 text-xl flex items-center justify-center">&gt;&gt;</div>
              </a>
            <% } %>
          <% } %>
        </nav>
      </div>
    </div>
  </div>
  