<div class="max-w-[70vw]">
    <% if(pageNumber !== 1) { %>
        <a href="/api/v1/file/view/<%=id%>/1" class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-200 focus:z-20 focus:outline-offset-0">1</a>
        <% if(pageNumber !== 2) { %>
            <a href="#" class="relative pointer-events-none inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-200 focus:z-20 focus:outline-offset-0">...</a>
        <% } %>
    <% } %>
    <% if(pageNumber <= (pageCount - 21)) { %>
        <% for(let i= pageNumber; i< pageCount; i++) { %>
            <% if(i === pageNumber) { %>
                <a href="/api/v1/file/view/<%=id%>/<%=i%>" aria-current="page" class="relative z-10 inline-flex items-center bg-indigo-600 px-4 py-2 text-sm font-semibold text-white focus:z-20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"><%= i %></a>
            <% } else if(i >= pageNumber+19) { %>
                <a href="#" class="relative pointer-events-none inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-200 focus:z-20 focus:outline-offset-0">...</a>
                <a href="/api/v1/file/view/<%=id%>/<%=pageCount%>" class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-200 focus:z-20 focus:outline-offset-0"><%= pageCount %></a>
            <% break; } else { %>
                <a href="/api/v1/file/view/<%=id%>/<%=i%>" class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-200 focus:z-20 focus:outline-offset-0"><%= i %></a>
            <% } %>
        <% } %>
    <% } %>
    <% if(pageNumber > 30 &&  (pageNumber === pageCount || pageNumber >= (pageCount - 20))) { %>
        <% for(let i= (pageCount-20); i<= pageCount; i++) { %>
            <% if(i === pageNumber) { %>
                <a href="/api/v1/file/view/<%=id%>/<%=i%>" aria-current="page" class="relative z-10 inline-flex items-center bg-indigo-600 px-4 py-2 text-sm font-semibold text-white focus:z-20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"><%= i %></a>
            <% } else { %>
                <a href="/api/v1/file/view/<%=id%>/<%=i%>" class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-200 focus:z-20 focus:outline-offset-0"><%= i %></a>
            <% } %>
        <% } %>
    <% } %>
</div>